
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="cart_items">
    <div class="container">
       
        <div class="register-req">
            <p>Quý khách hàng đã đặt hàng thành công <span>! <a href="@Url.Action("Index","Home")">Tiếp tục mua sắm</a> </span></p>
        </div><!--/register-req-->
        
    </div>
</section> <!--/#cart_items-->


