@model IEnumerable<EShopOnline.Models.Product>

@{
    ViewBag.Title = "AddImportProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AddImportProduct</h2>

<form action="@Url.Action("AddImportProdutcToDatabase", "AdminProduct")" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
       
        <div class="form-group">
            <div class="col-md-2">
                <label>Tên sản phẩm</label>
                </div>
                <div class="col-md-10">
                    <select name="SanPham">
                        @{
                            foreach (var item in Model)
                            {
                                <option value="@item.MaSP">
                                    @item.TenSP
                                </option>
                            }
                        }
                        
                    </select>
                </div>
            </div>

        <div class="form-group">
                <div class="col-md-2">
                    <label>Số lượng</label>
                </div>
                <div class="col-md-10">
                    <input type="number" name="SoLuong" />
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Đơn giá</label>
                </div>
                <div class="col-md-10">
                    <input type="number" name="DonGia" />
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Ngày nhập</label>
                </div>
                <div class="col-md-10">
                    <input type="date" name="NgayNhap" />
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Ghi chú</label>
                </div>
                <div class="col-md-10">
                    <input type="text" name="Ghichu" />
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>
<div style="padding:15px; background-color:aqua;">
    @Html.ActionLink("Back to List", "ImportProduct", "AdminProduct")
</div>
